{% extends 'main/layout.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <div class="features">
        <h1>{{ title }}</h1>
        <p>Дорогие друзья, сложившаяся структура организации позволяет выполнить важнейшие задания по разработке соответствующих условий активизации. Повседневная практика показывает, что реализация намеченного плана развития способствует повышению актуальности новых предложений? С другой стороны постоянное информационно-техническое обеспечение нашей деятельности представляет собой интересный эксперимент проверки системы обучения кадров, соответствующей насущным потребностям!</p>
        <button class="btn btn-warning">{% filter upper %}На страницу про нас{% endfilter %}</button>

        {% for el in values %}
            {% if el == "HEllo" %}
                <p>{{el|lower}}</p>
            {% endif %}
        {% endfor %}

        {% for el in obj %}
            <p>{{el}}</p>
        {% endfor %}

        {{obj.age}}

    </div>
{% endblock %}

